/* VaultOS GTK4 Theme - Fallout Aesthetic */
/* Pip-Boy green and Vault-Tec colors */

window {
    background-color: #000000;
    color: #00FF41;
}

/* Buttons */
button {
    background-color: #003300;
    color: #00FF41;
    border: 2px solid #00FF41;
    border-radius: 0px;
    padding: 5px 10px;
    font-family: "Unifont", monospace;
}

button:hover {
    background-color: #00FF41;
    color: #000000;
}

button:active {
    background-color: #00AA2A;
    color: #000000;
}

button:disabled {
    background-color: #001100;
    color: #006600;
    border-color: #006600;
}

/* Entry fields */
entry {
    background-color: #000000;
    color: #00FF41;
    border: 2px solid #00FF41;
    padding: 5px;
    font-family: "Unifont", monospace;
}

entry:focus {
    border-color: #00FF41;
    box-shadow: 0 0 5px #00FF41;
}

/* Labels */
label {
    color: #00FF41;
    font-family: "Unifont", monospace;
}

/* Notebook/Tabs */
notebook {
    background-color: #000000;
}

notebook tab {
    background-color: #003300;
    color: #00FF41;
    border: 1px solid #00FF41;
    padding: 5px 10px;
}

notebook tab:checked {
    background-color: #00FF41;
    color: #000000;
}

/* Scrollbars */
scrollbar {
    background-color: #000000;
}

scrollbar slider {
    background-color: #00FF41;
    border: 1px solid #003300;
}

scrollbar slider:hover {
    background-color: #41FF65;
}

/* Menus */
menu {
    background-color: #000000;
    color: #00FF41;
    border: 2px solid #00FF41;
}

menuitem {
    padding: 5px 10px;
}

menuitem:hover {
    background-color: #00FF41;
    color: #000000;
}

/* Toolbars */
toolbar {
    background-color: #003300;
    border-bottom: 2px solid #00FF41;
}

/* Status bars */
statusbar {
    background-color: #003300;
    color: #00FF41;
    border-top: 2px solid #00FF41;
    padding: 5px;
}

/* Progress bars */
progressbar {
    background-color: #003300;
    border: 1px solid #00FF41;
}

progressbar progress {
    background-color: #00FF41;
}

/* Tree views and lists */
treeview {
    background-color: #000000;
    color: #00FF41;
}

treeview:selected {
    background-color: #00FF41;
    color: #000000;
}

/* Frames */
frame {
    border: 1px solid #00FF41;
    background-color: #000000;
}

/* Paned widgets */
paned {
    background-color: #000000;
}

paned separator {
    background-color: #00FF41;
}

/* Checkboxes */
checkbutton {
    background-color: transparent;
}

check {
    background-color: #000000;
    border: 2px solid #00FF41;
    border-radius: 0px;
    min-width: 16px;
    min-height: 16px;
}

check:checked {
    background-color: #00FF41;
    color: #000000;
}

/* Radio buttons */
radiobutton {
    background-color: transparent;
}

radio {
    background-color: #000000;
    border: 2px solid #00FF41;
    border-radius: 50%;
    min-width: 16px;
    min-height: 16px;
}

radio:checked {
    background-color: #00FF41;
}

/* Combo boxes */
combobox {
    background-color: #000000;
    color: #00FF41;
    border: 2px solid #00FF41;
}

combobox:hover {
    border-color: #41FF65;
}

/* Spin buttons */
spinbutton {
    background-color: #000000;
    color: #00FF41;
    border: 2px solid #00FF41;
}

spinbutton button {
    background-color: #003300;
    color: #00FF41;
    border: none;
}

spinbutton button:hover {
    background-color: #00FF41;
    color: #000000;
}

/* Switch widgets */
switch {
    background-color: #003300;
    border: 2px solid #00FF41;
    border-radius: 20px;
}

switch:checked {
    background-color: #00FF41;
}

switch slider {
    background-color: #00FF41;
    border-radius: 50%;
}

switch:checked slider {
    background-color: #000000;
}

/* Scale / Slider */
scale {
    background-color: #000000;
}

scale slider {
    background-color: #00FF41;
    border: 2px solid #003300;
    border-radius: 50%;
}

scale slider:hover {
    background-color: #41FF65;
}

scale trough {
    background-color: #003300;
    border: 1px solid #00FF41;
}

scale highlight {
    background-color: #00FF41;
}

/* Lists */
list {
    background-color: #000000;
    color: #00FF41;
}

list row {
    background-color: transparent;
    color: #00FF41;
}

list row:selected {
    background-color: #00FF41;
    color: #000000;
}

list row:hover {
    background-color: #003300;
}

/* Popovers */
popover {
    background-color: #000000;
    border: 2px solid #00FF41;
    color: #00FF41;
}

/* Tooltips */
tooltip {
    background-color: #003300;
    color: #00FF41;
    border: 1px solid #00FF41;
    padding: 5px;
}

/* Header bars */
headerbar {
    background-color: #003300;
    color: #00FF41;
    border-bottom: 2px solid #00FF41;
}

headerbar button {
    background-color: transparent;
    border: none;
}

headerbar button:hover {
    background-color: #00FF41;
    color: #000000;
}

/* Stack switcher */
stackswitcher button {
    background-color: #003300;
    color: #00FF41;
    border: 1px solid #00FF41;
}

stackswitcher button:checked {
    background-color: #00FF41;
    color: #000000;
}

/* Info bars */
infobar {
    background-color: #003300;
    color: #00FF41;
    border-bottom: 1px solid #00FF41;
}

/* Separators */
separator {
    background-color: #00FF41;
    min-width: 1px;
    min-height: 1px;
}

/* Link buttons */
button.link {
    background-color: transparent;
    border: none;
    color: #00FF41;
    text-decoration: underline;
}

button.link:hover {
    color: #41FF65;
}

/* Level bars */
levelbar {
    background-color: #003300;
    border: 1px solid #00FF41;
}

levelbar block {
    background-color: #00FF41;
}

/* Text view */
textview {
    background-color: #000000;
    color: #00FF41;
}

textview text {
    background-color: #000000;
    color: #00FF41;
}

textview selection {
    background-color: #00FF41;
    color: #000000;
}

/* Drawing area */
drawingarea {
    background-color: #000000;
    color: #00FF41;
}
